# this is the Capstone project for IBM Data Sicence Professional Certificate

In [1]:
#import library
import pandas as pd
import numpy as np

In [2]:
# start as request
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

In [7]:
#import module for scraping
from bs4 import BeautifulSoup
import lxml
import html5lib
import requests
print('done')

done

#get html from web
#get the table and rows to parse
#create the dataframe to store the result from loop

In [11]:

source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(source,'lxml')

In [42]:

table = soup.table
table_rows=table.find_all('tr')

In [171]:

df = {'postcode':[],'Borough':[],'Neighbourhood':[]}

Neigh = pd.DataFrame(df)

type(Neigh)

pandas.core.frame.DataFrame

#create the list to append to the dataframe
#loop to assign value to the list
#reference link: https://www.youtube.com/watch?v=sAuGH1Kto2I&list=PL0vuEoxnycCKWtKG-cOh1JcIwNNraQ8sP&index=4&t=0s

# the result from loop, the first result set is an empyty list as header and without index, need the try block to exclude that empty list, otherwise error
# reference link: https://www.youtube.com/watch?v=ng2o98k983k

In [172]:

l=[]


for tr in table_rows:
    td = tr.find_all('td')
    row = [i.text for i in td]
   
    try:
        l=[{'postcode':row[0],'Borough':row[1],'Neighbourhood':row[2]}]
        Neigh=Neigh.append(l,sort=True)
    except Exception as e:
        pass

In [173]:
Neigh.shape

(180, 3)

In [196]:
# original dataframe has all row index as 0, reset index
Neigh.reset_index(drop=True)
# reset column order
N = Neigh[['postcode','Borough','Neighbourhood']]
N = Neighbourhood.reset_index(drop=True)

In [199]:
# Drop borough that are not assigned
New = N[N.Borough != 'Not assigned\n']
#Remove all '\n', and replace '/' with ','
R = New.replace('\n','',regex=True)
dataframe = R.replace('/',',',regex=True)

In [202]:
dataframe.head()

  postcode           Borough                                 Neighbourhood
2      M3A        North York                                     Parkwoods
3      M4A        North York                              Victoria Village
4      M5A  Downtown Toronto                    Regent Park , Harbourfront
5      M6A        North York             Lawrence Manor , Lawrence Heights
6      M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

In [203]:
dataframe.shape

(103, 3)

In [210]:
co = pd.read_csv('http://cocl.us/Geospatial_data')
co.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

# join two dataframe according to postcode

In [211]:
result = pd.merge(left =dataframe, right=co, how='left',left_on='postcode',right_on='Postal Code')

In [219]:
final_data = result[['Postal Code','Borough','Neighbourhood','Latitude','Longitude']]

In [222]:
final_data.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park , Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor , Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government",43.662301,-79.389494

In [221]:
final_data.shape

(103, 5)